.itemDiv {
  border: 3px solid black;
}

.background {
  color: gray;
}

#myChart ,body , html {
  height:100%;
  width:100%;
}

.zc-ref {
  display: none;
}
.center-light{
  margin-left: 50%;
  margin-bottom: 20px;
}
