.itemDiv {
  border: 3px solid black;
}

.background {
  color: gray;
}
.sms-text{
  display: flex;
  justify-content: center;
}

#myChart ,body , html {
  height:100%;
  width:100%;
}
.on-div{

}
.off-div{
  color: black;
}

.sheild-img{
  padding-top: 10px;
  margin-top: 20px;
}
.row-style{
  margin-left: -138px;
}
.sheild-img-left{
  padding-left: 40px;
}
/*.sheild-img2{
  width: 300px;
  height: 328px;
}*/
.zc-ref {
  display: none;
}
.center-light{
  margin-left: 30%,
  maring-right: 30%
}
.flex-light-gauge{
  display: flex,
  justify-content: center,
}
.chart-center1{
  margin-left: 25%;
}
.jumbotron {
    position: relative;
    background: #000 url("/images/jumbo2.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-top: -22px;
}
.jumbo-text{
  color: white !important;
}
