<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="..."> -->
        <p>Let It Grow</p>
      </a>
    </div>

    <div id="graphContainer"></div>

    <!-- <form name="loginForm" class="navbar-form navbar-right" novalidate="" ng-submit="$ctrl.logIn()" role="search">
      <div class="form-group">
          <input required class="form-control" name="Username" placeholder="Username" ng-model="$ctrl.loginForm.Username" ng-minlength=3 ng-maxlength=20>
          <input required class="form-control" name="Password" placeholder="Password" ng-model="$ctrl.loginForm.Password" ng-minlength=3 ng-maxlength=20>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.Username.$invalid || loginForm.Password.$invalid || !loginForm.Password.$dirty || !loginForm.Username.$dirty">
        Log In
      </button>
    </form> -->
  </div>
</nav>
