<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p>Let It Grow</p>
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://dinkydinky.herokuapp.com/about">About</a></li>
        <li><a href="https://dinkydinky.herokuapp.com/">Dashboard</a></li>
        <li><a href="https://dinkydinky.herokuapp.com/smsconfigure">SMS Settings</a></li>
      </ul>
  </div>
</nav> -->

<md-content class="md-padding md-primary">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item  md-nav-href="https://dinkydinky.herokuapp.com/about" name="about">
        About
      </md-nav-item>
      <md-nav-item  md-nav-href="https://dinkydinky.herokuapp.com/smsconfigure" name="smsconfigure">
        SMS Settings
      </md-nav-item>
      <md-nav-item md-nav-href="https://dinkydinky.herokuapp.com/dashboard" name="dashboard">
        Dashboard
      </md-nav-item>
      <md-nav-item md-nav-href="https://dinkydinky.herokuapp.com/predict" name="predict">
        Predict the Future
      </md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they
      won't work in the demo
      md-nav-click="goto('page2')"
      <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
      <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
      You can also add options for the <code>ui-sref-opts</code> attribute.
      <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
        Page Six
      </md-nav-item>
      -->
    </md-nav-bar>
  </md-content>

<md-button class="md-primary">Click me</md-button>
<md-button class="md-accent">or maybe me</md-button>
<md-button class="md-warn">Careful</md-button>

    <!-- <div >
        <fusioncharts
        width="100%"
        height="400"
        type="bar2d"
        dataFormat='json'
        dataSource="{{dataSource}}">
        </fusioncharts>
    </div> -->
  		<!-- <div><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div> -->

  <div class="container row">


  </div>
  <div class="container row flex-light-gauge">
    <div class="col-md-3">
    </div>
    <div id="myChart2" class="col-md-4"><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>

    <div class="on-div center-light col-md-4" id="light-pic" ng-if="$ctrl.lightOn >= 1">
      <!-- <h3>Lights Are On</h3> -->
      <img src="images/invention.png" alt="light-on">
      <button type="button" class="btn btn-lg btn-warning" disabled>Lights On</button>
    </div>
    <div class="off-div center-light col-md-4" id="light-pic2" ng-if="$ctrl.lightOn < 1">
      <!-- <h3>Lights Are Off</h3> -->
      <img src="images/electric-light (1).png" alt="light-off">
      <button type="button" class="btn btn-lg btn-secondary" disabled>Lights Off</button>
    </div>
    <div class="col-md-1">
    </div>

  </div>
  <div class="container row">

    <div class="chart-center1">
      <zingchart id = "myChart" zc-json = "myJson" zc-height = 500 zc-width = 600 ></zingchart>
    </div>

</div>

    <!-- <form name="loginForm" class="navbar-form navbar-right" novalidate="" ng-submit="$ctrl.logIn()" role="search">
      <div class="form-group">
          <input required class="form-control" name="Username" placeholder="Username" ng-model="$ctrl.loginForm.Username" ng-minlength=3 ng-maxlength=20>
          <input required class="form-control" name="Password" placeholder="Password" ng-model="$ctrl.loginForm.Password" ng-minlength=3 ng-maxlength=20>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.Username.$invalid || loginForm.Password.$invalid || !loginForm.Password.$dirty || !loginForm.Username.$dirty">
        Log In
      </button>
    </form> -->
